aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.4.2
alabaster==0.7.12
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.8.7
anaconda-project==0.8.3
appdirs==1.4.4
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid==2.4.1
astropy==4.0.1.post1
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bar-chart-race==0.1.0
base58==2.0.1
beautifulsoup4==4.8.2
billiard==3.6.3.0
bitarray==1.2.2
bkcharts==0.2
blaze==0.11.3
bleach==3.1.4
blinker==1.4
bokeh==2.0.2
boto==2.49.0
boto3==1.14.17
botocore==1.17.17
Bottleneck==1.3.2
bs4==0.0.1
cachetools==4.1.1
category-encoders==2.1.0
cchardet==2.1.6
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.4.1
clyent==1.2.2
coala-utils==0.5.1
colorama==0.4.3
conda==4.8.3
conda-build==3.10.5
conda-package-handling==1.7.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
contextvars==2.4
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.17
cytoolz==0.10.1
dask==2.17.2
dataclasses==0.7
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
diff-match-patch==20181111
distlib==0.3.0
distributed==2.17.0
docutils==0.15.2
elasticsearch==7.8.0
emoji==0.5.4
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
fastcache==1.1.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
Fiona==1.8.13.post1
flake8==3.8.2
Flask==1.1.2
Flask-Cors==3.0.8
fsspec==0.7.4
future==0.18.2
geographiclib==1.50
geograpy @ git+https://github.com/reach2ashish/geograpy.git@45571188d44d7ad7bdb9c7477a64b87c022dd13e
geonamescache==1.2.0
geopandas==0.8.1
geopy==2.0.0
geotext==0.4.0
GetOldTweets3==0.0.11
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
googletransx==2.4.2
greenlet==0.4.15
gym==0.7.0
h11==0.8.1
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
hpack==3.0.0
hstspreload==2020.6.16
html5lib==1.0.1
httpx==0.7.8
hyperframe==5.2.0
hypothesis==5.16.1
idna==2.9
idna-ssl==1.1.0
igramscraper==0.3.5
imageio==2.3.0
imagesize==1.2.0
immutables==0.11
importlib-metadata==1.5.0
importlib-resources==1.5.0
instaloader==4.4.4
instascraper==2.0.3
intervaltree==3.0.2
ipykernel==5.3.0
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
jeepney==0.4.3
jellyfish==0.8.2
jieba3k==0.35.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-lsp==0.8.0
jupyter-tabnine==1.1.0
jupyterlab==2.1.4
jupyterlab-launcher==0.10.5
jupyterlab-server==1.1.5
keyring==21.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.32.1
locket==0.2.0
loguru==0.3.2
lxml==4.5.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.2.0
mpmath==1.1.0
msgpack==1.0.0
multidict==4.7.6
multipledispatch==0.6.0
munch==2.5.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.6
nest-asyncio==1.3.3
networkx==2.4
newspaper3k==0.2.8
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.49.1
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.9.2
odo==0.5.1
olefile==0.46
openpyxl==3.0.3
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
path==13.2.0
path.py==12.0.2
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
plotly==4.9.0
pluggy==0.13.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
pycares==3.1.1
pycodestyle==2.6.0
pycosat==0.6.3
pycountry==20.7.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.1
pydantic==0.32.2
pydeck==0.4.0b2
pydocstyle==4.0.1
pyee==7.0.2
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.6.1
pylint==2.5.2
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyppeteer==0.2.2
pyppeteer-stealth==1.0.0
pyproj==2.6.1.post1
pyquery==1.4.1
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.7.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.33.0
python-slugify==3.0.2
pytz==2019.3
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.0
qtconsole==4.3.1
QtPy==1.9.0
requests==2.23.0
requests-file==1.5.1
retrying==1.3.3
rfc3986==1.4.0
rope==0.17.0
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.3
schedule==0.6.0
scikit-image==0.13.1
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.8.1
SecretStorage==3.1.2
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
Sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.1
spyder==3.2.8
spyder-kernels==1.9.1
SQLAlchemy==1.3.17
statsmodels==0.11.1
streamlit==0.62.1
sympy==1.5.1
tables==3.5.1
TBB==0.1
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
tinysegmenter==0.3
tldextract==2.2.2
toml==0.10.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
-e git+https://github.com/twintproject/twint.git@e21e1acb71c44b27db63836a914fc860bd596ec3#egg=twint
twitterscraper==1.4.0
typed-ast==1.4.1
typing==3.6.4
typing-extensions==3.7.4.1
tzlocal==2.1
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
validators==0.15.0
virtualenv==20.0.21
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wordcloud==1.7.0
wrapt==1.11.2
wurlitzer==2.0.0
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
yapf==0.28.0
yarl==1.4.2
zict==2.0.0
zipp==3.1.0
